#clockdiv{
	font-family: 'Montserrat';
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 20px;
}

#clockdiv > div{
	 padding: 2px;
	border-radius: 3px;
	/* background: #f0ad4e; */
	display: inline-block;
	vertical-align: middle;
}

#clockdiv div > span{
	
	display: inline-block;
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 300;
    color: rgba(51, 51, 51, 1);
    text-align: left;
    letter-spacing: 0.05em;
    line-height: 12px;
	width:30px;
	margin:1px;
	
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
	text-align:center;
	font-family: 'Montserrat';
font-size: 18px;
font-weight: 300;
color: rgba(51, 51, 51, 1);
text-align: left;
letter-spacing: 0.05em;
line-height: 12px;
width:15px;
margin:1px;
}